.page-header
  %h1 Basic Demo
  %br
  %p Hardcoded for use with the 'Science Majors' pond.

.row
  .span5
    .well
      %h2 Tags
      %form.form-horizontal
        %fieldset
          .control-group
            %label.control-label Quantitative (6)
            .controls
              %input#query_tags_quantitative{"data-slug" => "quantitative", :name => "query[tags][quantitative]", :type => "hidden", :value => "6"}/
              .slider.span2{"data-target" => "query[tags][quantitative]"}
          .control-group
            %label.control-label Biological (6)
            .controls
              %input#query_tags_biological{"data-slug" => "biological", :name => "query[tags][biological]", :type => "hidden", :value => "6"}/
              .slider.span2{"data-target" => "query[tags][biological]"}
          .control-group
            %label.control-label Pure (6)
            .controls
              %input#query_tags_pure{"data-slug" => "pure", :name => "query[tags][pure]", :type => "hidden", :value => "6"}/
              .slider.span2{"data-target" => "query[tags][pure]"}
          .control-group
            %label.control-label Indoors (6)
            .controls
              %input#query_tags_indoors{"data-slug" => "indoors", :name => "query[tags][indoors]", :type => "hidden", :value => "6"}/
              .slider.span2{"data-target" => "query[tags][indoors]"}
          .control-group
            %label.control-label Dunno (6)
            .controls
              %input#query_tags_dunno{"data-slug" => "dunno", :name => "query[tags][dunno]", :type => "hidden", :value => "6"}/
              .slider.span2{"data-target" => "query[tags][dunno]"}

      %h2 Filters
      %p
        %em No filters defined.

  .span6.offset1
    %h2 Results
    %ul.results



- content_for :javascript do
  :javascript
    var setupFishpond = function(fishpond){ // you must define this function in your demo, if you want hooks to the fishpond

      fishpond.resultsUpdated(function(results){
        //console.log(results);

        $(".results li").remove(); // Clear old results

        for(var i = 0; i < results.length; i++){
          var li = $("<li></li>");
          var thumbnail = $("<div></div>");
          thumbnail.html(results[i].fish.title);
          li.append(thumbnail);
          $(".results").append(li);
        }
      });

      fishpond.ready(function(pond){
        $("#loading").fadeOut(0);
        $("#demo").fadeIn(400);
        $("#demo h1").append(' "' + pond.name + '"');
        fishpond.query({}, {});
      });

      fishpond.loading(function(percent){
        $("#loading .progress").removeClass("progress-striped");
        $("#loading .bar").css({width: (percent * 100) + "%"});
      });

      $(".slider").slider({
        value: 6,
        min: 1,
        max: 11,
        step: 0.1,
        slide: function(e, ui){
          var label = $(this).parents('.control-group').find('label');
          var hiddenField = $("input[name='" + $(this).data('target') + "']");
          var value = Math.round(Math.abs(12 - ui['value']));

          if(value.toString() != hiddenField.val().toString()){
            hiddenField.val(value);
            label.html(label.html().split("(")[0] + " (" + value.toString() + ")");

            var tags = {};
            var filters = {};
            $("form input").each(function(){
              tags[$(this).data('slug')] = $(this).val();
            });
            fishpond.query({
              quantitative: $("#query_tags_quantitative").val(),
              biological: $("#query_tags_biological").val(),
              pure: $("#query_tags_pure").val(),
              indoors: $("#query_tags_indoors").val(),
              dunno: $("#query_tags_dunno").val()
            },
            {/* no filters, yet */});
          }
        }
      });
    };