/ TEMPLATE - Fish Modal
%script{:id => "template-fish-modal", :type => "text/html"}
	.modal-header
		%button.close{"data-dismiss" => "modal"} ×
		%h3 {{ metadata.title }}
	.modal-body
		.row
			.span3
				%img{:alt => "{{ metadata.title }}", :src => "{{ metadata.image_url }}"}/
			.span8
				.description
					{{ metadata.description }}
				= link_to "Find out more", "{{ metadata.url }}", :target => "_blank"
				%br
				%br
				%a{ :href => "#", :class => "btn btn-mini {{ upvote.upvoteClass }}", :data => { :id => "{{ metadata.id }}", :toggle => "upvote" } }
					%i.icon-thumbs-up
				{[ if (!_.isEmpty(shortlist)) { ]}
				%a{ :href => "#", :class => "btn btn-mini {{ shortlist.shortlistClass }}", :data => { :id => "{{ metadata.id }}", :title => "{{ metadata.title }}", :thumbnail => "{{ metadata.thumbnail_url }}", :toggle => "shortlist" } }
					%i.icon-star
					%span
						{{ shortlist.wording }}
				{[ } ]}
				%a{ :href => "./kitchen-sink/comments/?1234#disqus_thread", :class => "btn btn-mini", :data => { :id => "{{ metadata.id }}", :toggle => "comments" } }
					%i.icon-comment
					%span
						View Comments
		.row
			.span11
				.comment_box{ :id => "comment_{{ metadata.id }}" }
	.modal-footer
		%a.btn{"data-dismiss" => "modal", :href => "#"} Close