/ TEMPLATE - Fish Result
%script{:id => "template-fish-result", :type => "text/html"}
	%li{ :data => { :id => "{{ fish.id }}", "pos-start" => "{{ position }}", "pos-end" => "na", :popularity => "{{ fish.popularity() }}", :score => "{{ score }}" }, :class => "{{ status }} fish" }
		.thumbnail
			%strong.title {{ fish.title }}  
	