/ TEMPLATE - Fish
%script{:id => "fishTemplate", :type => "text/html"}
	%li{ :data => { :id => "{{ fish.id }}" }, :class => "{{ status }} span2 fish" }
		.thumbnail
			%strong.title {{ fish.title }}      
			.details
				{[ if (!_.isEmpty(metadata)) { ]}
				{{ fishDetailsData }}
				{[ } ]}