/ TEMPLATE - Fish
%script{:id => "fishTemplate", :type => "text/html"}
	%li{ :data => { :id => "{{ fish.id }}", "pos-start" => "{{ position }}", "pos-end" => "na" }, :class => "{{ status }} fish" }
		.thumbnail
			%strong.title {{ fish.title }} - {{ fish.popularity() }} 
			.details
				{[ if (!_.isEmpty(metadata)) { ]}
				{{ fishDetailsData }}
				{[ } ]}
			{[ if (fish.popularity() >= 15) { ]}   
			.favourite
				%a{ :href => "#", :class => "btn btn-mini btn-danger" }
					%i.icon-heart.icon-white.disabled
			{[ } ]}