/ TEMPLATE - Fish
%script{:id => "fishTemplate", :type => "text/html"}
	%li{ :data => { :id => "{{ fish.id }}", "pos-start" => "{{ position }}", "pos-end" => "na" }, :class => "{{ status }} fish" }
		.thumbnail
			%strong.title {{ fish.title }}      
			.details
				{[ if (!_.isEmpty(metadata)) { ]}
				{{ fishDetailsData }}
				{[ } ]}