.page-header
  %h1 Raphael-Radar Demo [Not Working]
  %br
  %p= link_to "https://github.com/tnzk/Raphael-Radar/", "https://github.com/tnzk/Raphael-Radar/"

.row
  .span5
    .well
      %h2 Tags
      %form#fishpond.form-horizontal
        %fieldset
          -# Sliders Dynamically added

      %h2 Filters
      %p
        %em No filters defined.

  #radar.span6.offset1

.row
  #results.span12
    %h2 Results
    %ul.thumbnails.results
    


= javascript_include_tag "http://humblesoftware.com/static/js/hsd-flotr2.js"


-# content_for :css do
:css
  #radar{
    height: 350px;
  }


- content_for :javascript do
  = javascript_include_tag "http://www.tnzk.org/devel/Raphael-Radar/example/raphael-1.3.1.min.js"
  = javascript_include_tag "http://www.tnzk.org/devel/Raphael-Radar/raphael-radar-0.0.0.js"

  :javascript
    var setupFishpond = function(fishpond){ // you must define this function in your demo, if you want hooks to the fishpond
      // Flotr Array Variables
      var resultsList = [];
      var tags = [];
      var tagsList = [];
      

      fishpond.resultsUpdated(function(results){
        console.log(results);

        $(".results li").remove(); // Clear old results

        for(var i = 0; i < results.length; i++){

          var li = $("<li></li>");
          var thumbnail = $("<div></div>");
          thumbnail.html(results[i].fish.title);
          li.append(thumbnail);
          $(".results").append(li);
        }
      });

      fishpond.ready(function(pond){
        $("#loading").fadeOut(0);
        $("#demo").fadeIn(400);
        $("#demo h1").append(' "' + pond.name + '"');       
        
        // Create Array for Radar
        var positionCount = 0;
        $.each(pond.tag_ids, function(name, token){
          tagsList.push([ positionCount, name ]);
          resultsList.push([ positionCount, 6 ]);
          positionCount++;
        });
       
        // Dynamically Generate Form Controls
        var form = $("form fieldset");
        var controlGroup;

        $.each(pond.tag_ids, function(name, token){ 
          controlGroup = $("" +
            "<div class='control-group'>" +
              "<label class='control-label'>" +
                name + " <output>(6)</output>" +
              "</label>" +
              "<div class='controls'>" +
                "<input id='query_tag_"+token+"' data-slug='"+name+"' name='query[tags]["+token+"]' type='hidden' value='6'>" +
                "<div class='slider span2' data-target='query[tags]["+token+"]'></div>" +
              "</div>" +
            "</div>");

          form.append(controlGroup);
        });

        // Setup Radar 
        scores = [10,8,6,4,2,1];
        labels = ["Label 1", "Label 2", "Label 3", "Label 4", "Label 6", "Label 6"];
        ids    = ["query_tag_WxI", "query_tag_Ymp", "query_tag_gwx", "c", "q"];
        radar( "radar", 350, 350, scores, labels, null, 11);
          //radar( "chart", 250, 250, scores, labels, ids, 50);

        // jQuery UI Slider
        $(".slider").slider({
          value: 6,
          min: 1,
          max: 11,
          step: 0.1,
          slide: function(e, ui){
            var output = $(this).parents('.control-group').find('output');
            var hiddenField = $("input[name='" + $(this).data('target') + "']");
            var value = Math.round(Math.abs(12 - ui['value']));

            if(value.toString() != hiddenField.val().toString()){
              hiddenField.val(value);
              output.html(output.html().split("(")[0] + "(" + value.toString() + ")");

              var tags = {};
              var filters = {};
              resultsList = [];

              var count = 0;
              $("form#fishpond input").each(function(){
                tags[$(this).data('slug')] = $(this).val();
              
                // Update Array for Radar
                resultsList.push([ count, $(this).val() ]);
                count++;
              });

              fishpond.query(tags, filters);
            }
          }
        });

        fishpond.query({}, {});

      });

      fishpond.loading(function(percent){
        $("#loading .progress").removeClass("progress-striped");
        $("#loading .bar").css({width: (percent * 100) + "%"});
      });

    };