$fish-dimensions: 140px;
$fish-spacing: 20px;
$results-width: 460px;
$i: 40;

$row-1-count: 3;
$row-2-count: 4;
$row-3-count: 5;
$row-4-count: 6;
$row-5-count: 6;

@mixin fish-dimensions($row-count){
  $col-width: floor((($results-width) - ($fish-spacing * ($row-count - 1)))/$row-count);
  width: $col-width;
  .thumbnail{
    height: floor($col-width);
  }
}

@mixin width-transtion($duration){
  transition: width $duration;
  -moz-transition: width $duration; /* Firefox 4 */
  -webkit-transition: width $duration; /* Safari and Chrome */
  -o-transition: width $duration; /* Opera */
}

@mixin height-transtion($duration){
  transition: height $duration;
  -moz-transition: height $duration; /* Firefox 4 */
  -webkit-transition: height $duration; /* Safari and Chrome */
  -o-transition: height $duration; /* Opera */
}

#query{
  #results.zigzag{
    width: $results-width;    
    .thumbnails{
      margin-left: 0;
      .fish{
        @include width-transtion(0.5s);
        position: relative;
        width: $fish-dimensions; // backup width
        margin: 0;

        .thumbnail{
          @include height-transtion(0.5s);
          border: none;
          padding: 0;
          border: 0;
          box-shadow: none;
          .title,
          .btn{
            display: none !important;
          }
          .details{
            padding: 0 !important;
            margin-bottom: 0 !important;
          }
        }

        &.loading{
          .thumbnail{
            height: 50px;
            background: url(http://involved.github.com/fishpond-examples/images/common/loading.gif) no-repeat center center;
            color: #999;
          }
        }
        &.loaded{ }


        //////////////////////////////
        // Fish Scaling and Reszing 
        //////////////////////////////
        // Row 1  => 3 fish
        // Row 2  => 4 fish
        // Row 3  => 5 fish
        // Row 4+ => 6 fish
        //////////////////////////////

        // Row 1
        $x: 0;
        @for $i from 0 through 2 {
          &[data-pos-start='#{$i}']{
            @include fish-dimensions($row-1-count);
            float: left;
            margin-top: $x * 20px;
            padding-bottom: ($row-1-count - $x) * 20px;
            left: $x * $fish-spacing;

            // If first in row
            @if $x == 0 { 
              clear: right;
            }
          }
          $x: $x + 1;
        }

        // Row 2
        $x: 0;
        @for $i from 3 through 6 {
          &[data-pos-start='#{$i}']{
            @include fish-dimensions($row-2-count);
            float: right;
            margin-top: $x * 10px;
            padding-bottom: ($row-2-count - $x) * 10px;
            right: $x * $fish-spacing;

            @if $x == 0 {
              clear: left;
            }
          }
          $x: $x + 1
        }

        // Row 3
        $x: 0;
        @for $i from 7 through 11{
          &[data-pos-start='#{$i}']{
            @include fish-dimensions($row-3-count);
            float: left;
            margin-top: $x * 10px;
            padding-bottom: ($row-3-count - $x) * 10px;
            left: $x * $fish-spacing;

            // If first in row
            @if $x == 0 {
              clear: right;
            }
          }
          $x: $x + 1
        }

        // Row 4
        $x: 0;
        @for $i from 12 through 17 {
          &[data-pos-start='#{$i}']{
            @include fish-dimensions($row-4-count);
            float: right;
            margin-top: $x * 2px;
            padding-bottom: ($row-4-count - $x) * 2px;
            right: $x * $fish-spacing;

            // If first in row
            @if $x == 0 {
              clear: left;
            }
          }
          $x: $x + 1
        }

        // Row 5+
        $x: 0;
        @for $i from 18 through 23 {
          &[data-pos-start='#{$i}']{
            @include fish-dimensions($row-5-count);
            float: left;
            left: $x * $fish-spacing;
            padding-bottom: 5px;
            margin-top: 5px;

            @if $x == 0 or $x == 5 { clear: right; } // If first or last in row            
          }
          $x: $x + 1
        }

        $x: 0;
        @for $i from 24 through 30 {
          &[data-pos-start='#{$i}']{
            @include fish-dimensions($row-5-count);
            float: left;
            left: $x * $fish-spacing;
            padding-bottom: 5px;
        
            @if $x == 0 { clear: left; }  // If first in row     
            @if $x == 5 { clear: right; } // If last in row  
          }
          $x: $x + 1
        }


        &.animating{
          // Row 1   
          @for $i from 0 through 2 {
            &[data-pos-end='#{$i}']{ 
              @include fish-dimensions(3);
            }
          }

          // Row 2
          @for $i from 3 through 6 {
            &[data-pos-end='#{$i}']{  
              @include fish-dimensions(4); 
            }
          }

          // Row 3
          @for $i from 7 through 11 {
            &[data-pos-end='#{$i}']{ 
              @include fish-dimensions(5); 
            }
          }

          // Row 4
          @for $i from 12 through 40 {
            &[data-pos-end='#{$i}']{
              @include fish-dimensions(6);
            }
          }
        }
      }
    }
  }  
}