$fish-width: 140px;
$fish-spacing: 20px;
$results-width: 460px;

@mixin row-count ($row-1, $row-2: false, $row-3: false, $row-4: false, $row-5: false, $row-6: false) {
  $row-1-fish-width: 3;

}
@mixin fish-width($row-count){
  width: (($results-width - ($fish-spacing * ($row-count - 1)))/$row-count);
}

@mixin fish-scale($x){
  $scale: (1-((3*$x)/100));
  width: $fish-width * $scale;
}

@mixin width-transtion($duration){
  transition: width $duration;
  -moz-transition: width $duration; /* Firefox 4 */
  -webkit-transition: width $duration; /* Safari and Chrome */
  -o-transition: width $duration; /* Opera */
}

#query{
  #results{
    background: #ebfdff;
    .thumbnails{
      margin-left: -$fish-spacing !important;
      
      .fish{
        position: relative;
        width: $fish-width; // backup width
        margin-left: $fish-spacing !important;
        $i: 40;
        @include width-transtion(0.5s);

        // Row 1
        $x: 0;
        @for $i from 0 through 2 {
          &[data-pos-start='#{$i}']{
            @include fish-width(3);
            float: left;
            margin-top: $x * 10px;
          }
          $x: $x + 1;
        }

        // Row 2
        $x: 0;
        @for $i from 3 through 6 {
          &[data-pos-start='#{$i}']{
            @include fish-width(4);
            float: right;
            margin-top: $x * 5px;
          }
          $x: $x + 1
        }

        // Row 3
        $x: 0;
        @for $i from 7 through 11{
          &[data-pos-start='#{$i}']{
            @include fish-width(5);
            float: left;
            margin-top: $x * 5px;
          }
          $x: $x + 1
        }

        // Row 4
        $x: 0;
        @for $i from 12 through 17 {
          &[data-pos-start='#{$i}']{
            @include fish-width(6);
            float: right;
            margin-top: $x * 2px;
          }
          $x: $x + 1
        }

        // Row 5+
        $x: 0;
        @for $i from 17 through 40 {
          &[data-pos-start='#{$i}']{
            @include fish-width(6);
            float: left;
            @if $x == 1 { 
              clear: left; 
              border-top: red 3px solid !important;
            }         
          }
          $x: $x + 1
        }


        &.animating{
          // Row 1   
          @for $i from 0 through 2 {
            &[data-pos-end='#{$i}']{ 
              @include fish-width(3); 
            }
          }

          // Row 2
          @for $i from 3 through 6 {
            &[data-pos-end='#{$i}']{  
              @include fish-width(4); 
            }
          }

          // Row 3
          @for $i from 7 through 11 {
            &[data-pos-end='#{$i}']{ 
              @include fish-width(5); 
            }
          }

          // Row 4
          @for $i from 12 through 40 {
            &[data-pos-end='#{$i}']{
              @include fish-width(6);
            }
          }
        }
      }
    }
  }

  &.dev{
    #results{
      .thumbnails{
        .fish{
          border-top: orange 3px solid;
          &.animating{ border-top: green 3px solid; }
          //&:before { content: "New: " attr(data-pos-end); }
          //&:after { content: "Current: " attr(data-pos-start); }

          .thumbnail{
            min-height: 10px !important;
            border: none;
            padding: 0;
            border: 0;
            .title,
            .btn{
              display: none !important;
            }
            .details{
              padding: 0 !important;
              margin-bottom: 0 !important;
            }
          }
        }
      }
    }   
  }
}