.control-group
	.control-label 
		Animation Duration
	.controls
		%select#animation-duration.span2
			- (1..15).each do |i|
				- if i == 5
					%option{:value => "#{i * 100}", :selected => "selected"}
						= ((i * 100).round(2)/1000)
						s
				- else
					%option{:value => "#{i * 100}"}
						= ((i * 100).round(2)/1000)
						s