- title "Basic (Dynamic)"

.page-header
  %h1 Basic (Dynamic) Demo
  %br
  .row
    .span9
      %p
        %strong Powered by: 
        %ul
          %li= link_to "jQuery UI Slider", "http://jqueryui.com/demos/slider/", :target => "_blank"
          %li= link_to "Twitter Bootstrap Typeahead", "http://twitter.github.com/bootstrap/javascript.html#typeahead", :target => "_blank"
    .span2.offset1
      %span.label.label-success Filters enabled
      %br 
      %span.label.label-success Search enabled
      %br 
      %span.label.label-important Metadata disabled

.row.form-and-results
  .span5
    %form#search.form-horizontal
      .well
        %fieldset
          %center
            %input.search-query{:type => "text", :class => "span4", :placeholder => "Search by title"}

    %form#fishpond.form-horizontal.well
      %h2 Tags
      %fieldset.tags
        -# Sliders Dynamically added

      %h2 Filters     
      %fieldset.filters
        .control-group
          .control-label
            Only show:        

  .span6.offset1
    %h2 Results
    %ul.results

- content_for :javascript do
  :javascript
    var setupFishpond = function(fishpond){ // you must define this function in your demo, if you want hooks to the fishpond

      fishpond.loading(function(percent){
        $("#loading .progress").removeClass("progress-striped");
        $("#loading .bar").css({width: (percent * 100) + "%"});
      });

      fishpond.ready(function(pond){
        // Loading transitions
        $("#loading").fadeOut(0);
        $("#demo").fadeIn(400);
        $("#demo h1").append(' "' + pond.name + '"');       

        // Generate form controls
        var formTags = $("fieldset.tags");
        var formFilters = $("fieldset.filters .control-group");
        var tagControlGroup,
            filterControl;

        $.each(pond.tag_ids, function(name, token){ 
          tagControlGroup = $("" +
            "<div class='control-group'>" +
              "<label class='control-label'>" +
                name + " <output>(10)</output>" +
              "</label>" +
              "<div class='controls'>" +
                "<input id='query_tag_"+token+"' data-slug='"+name+"' name='query[tags]["+token+"]' type='hidden' value='6'>" +
                "<div class='slider span2' data-target='query[tags]["+token+"]'></div>" +
              "</div>" +
            "</div>");
          formTags.append(tagControlGroup);
        });

        $.each(pond.filters, function(index, token){
          filterControl = $("" +
            "<div class='controls'>" +
              "<label class='checkbox'>" +
                "<input id='query_filter_"+token.id+"' data-slug='"+token.slug+"' name='query[filters]["+token.id+"]' type='checkbox' value='0'>" +
                token.name + 
              "</label>" +
            "</div>");
          formFilters.append(filterControl);
        });

        // Search
        var mappedFish = {};
        var fishIds = [];

        for(var i = 0; i < pond.fish.length; i++){
          var fish = pond.fish[i];
          mappedFish[fish.id] = fish;
          fishIds.push(fish.id);
        }

        $("form#search .search-query").typeahead({
          items: 5,
          source: fishIds,
          matcher: function(item){
            return mappedFish[item].title.score(this.query) > 0.1;
          },
          sorter: function(items){
            var query = this.query;
            items.sort(function(item1, item2){
              if(mappedFish[item1].title.score(query) >  mappedFish[item2].title.score(query))  {  return -1 };
              if(mappedFish[item1].title.score(query) == mappedFish[item2].title.score(query))  {  return 0  };
              if(mappedFish[item1].title.score(query) <  mappedFish[item2].title.score(query))  {  return 1  };
            });
            return items;
          },
          highlighter: function(item){
            return mappedFish[item].title;
          },
          updater: function (item) {
            var fish = mappedFish[item];
            console.log(fish);
            $("form#fishpond input:checkbox").removeAttr('checked');

            for( var token in fish.tags ){
              var value = fish.tags[token];
              $("form#fishpond input[name='query[tags][" + token + "]']").val(value);
              $("form#fishpond .slider[data-target='query[tags][" + token + "]']").slider("value", value); // Update jQuery UI sliders positions
              if(value >= 1){
                $("form#fishpond input[name='query[filters][" + token + "]']").attr('checked', 'checked');
              }
            }

            sendQuery();
            return fish.title;
          }
        });

        // jQuery UI Slider
        $(".slider").slider({
          value: 10,
          min: 0,
          max: 20,
          step: 1,
          slide: function(e, ui){
            var output = $(this).parents('.control-group').find('output');
            var hiddenField = $("input[name='" + $(this).data('target') + "']");
            var value = ui['value'];

            if(value.toString() != hiddenField.val().toString()){
              hiddenField.val(value);
              output.html(output.html().split("(")[0] + "(" + value.toString() + ")");

              var tags = {};
              var filters = {};
              $("form#fishpond input").each(function(){
                //console.error($(this).data('slug'));
                tags[$(this).data('slug')] = $(this).val();
              });
              sendQuery();
            }
          }
        });

        // Filters
        $("input:checkbox").change(function(){
          sendQuery();
        });

        fishpond.query({}, {});
      });

      fishpond.resultsUpdated(function(results){
        //console.log(results);

        $(".results li").remove(); // Clear old results

        for(var i = 0; i < results.length; i++){
          var li = $("<li></li>");
          var thumbnail = $("<div></div>");
          thumbnail.html(results[i].fish.title);
          li.append(thumbnail);
          $(".results").append(li);
        }
      });

      function sendQuery(){
        var tags = {};
        var filters = {};

        // Search Box
        $("form#search input").val(""); // Reset search value
        
        // Sliders
        $("form input[name*='tags']").each(function(){
          tags[$(this).data('slug')] = $(this).val();
        });

        // Filters
        $("form input[name*='filters']").each(function(){
          var value = 0;
          if(this.checked){
            value = 1;
          }
          filters[$(this).data('slug')] = value;
        });
        fishpond.query(tags, filters);
      }

    };