.page-header
  %h1 Quicksand Demo

%section#query
  .row
    .span5
      .well
        %h2 Tags
        %form#fishpond.form-horizontal
          %fieldset
            -# Sliders Dynamically added

        %h2 Filters
        %p
          %em No filters defined.

    .span6.offset1
      %h2 Results
      #results
        %ul.thumbnails

- content_for :css do
  :css
    h1 {
      text-align: center;
      }

    #results ul li .thumbnail{
      height: 50px;
      text-align: center;
    }
 

- content_for :javascript do
  = javascript_include_tag "https://raw.github.com/razorjack/quicksand/master/jquery.quicksand.js"
  
  :javascript
    var setupFishpond = function(fishpond){ // you must define this function in your demo, if you want hooks to the fishpond
      var container = $("section#query");

      fishpond.resultsUpdated(function(results){
        //console.log(results);

        var source = $("#results ul", container);
        var list = $("<ul></ul>");

        var listItem;

        $.each(results, function(position, result){ 
          listItem = $("" +
            "<li class='span2' data-id='"+result.fish.id+"'>" +
              "<div class='thumbnail'>" +
                "<strong>" + result.fish.title + "</strong><br />" + result.score +
              "</div>" +
            "</li>");

          list.append(listItem);
        });

        if(source.find("li").length == 0) {
          source.append(list.find("li"));
        } else {
          source.quicksand(list.find("li"));
        }
     });

      fishpond.ready(function(pond){
        $("#loading").fadeOut(0);
        $("#demo").fadeIn(400);
        $("#demo h1").append(' "' + pond.name + '"');       

        // Dynamically Generate Form Controls        
        var form = $("form fieldset");
        var controlGroup;

        $.each(pond.tag_ids, function(name, token){ 
          controlGroup = $("" +
            "<div class='control-group'>" +
              "<label class='control-label'>" +
                name + " <output>(6)</output>" +
              "</label>" +
              "<div class='controls'>" +
                "<input id='query_tag_"+token+"' data-slug='"+name+"' name='query[tags]["+token+"]' type='hidden' value='6'>" +
                "<div class='slider span2' data-target='query[tags]["+token+"]'></div>" +
              "</div>" +
            "</div>");

          form.append(controlGroup);
        });

        // jQuery UI Slider
        $(".slider").slider({
          value: 6,
          min: 1,
          max: 11,
          step: 0.1,
          slide: function(e, ui){
            var output = $(this).parents('.control-group').find('output');
            var hiddenField = $("input[name='" + $(this).data('target') + "']");
            var value = Math.round(Math.abs(12 - ui['value']));

            if(value.toString() != hiddenField.val().toString()){
              hiddenField.val(value);
              output.html(output.html().split("(")[0] + "(" + value.toString() + ")");

              var tags = {};
              var filters = {};
              $("form#fishpond input").each(function(){
                tags[$(this).data('slug')] = $(this).val();
              });
              fishpond.query(tags, filters);
            }
          }
        });

        fishpond.query({}, {});

      });

      fishpond.loading(function(percent){
        $("#loading .progress").removeClass("progress-striped");
        $("#loading .bar").css({width: (percent * 100) + "%"});
      });
 
    };

