.page-header
  %h1 Basic HTML5 Demo
  %br
  .row
    .span9
      %p
        %strong Powered by: 
        Pure HTML5 form elements (no fallbacks or polyfils used).
        %br
        %strong Requires:
        HTML5 enabled browsers
    .span2.offset1
      %span.label.label-important Metadata disabled
      %br 
      %span.label.label-warning Filters to be hooked up

.row
  .span5
    %form#fishpond.form-horizontal.well
      %h2 Tags
      %fieldset.tags
        -# Sliders Dynamically added

      %h2 Filters     
      %fieldset.filters
        .control-group
          .control-label
            Only show:

      %span.label
        Filters currently not hooked up.
-#
  .row
    .span5
      .well
        %h2 Tags
        %form.form-horizontal
          %fieldset
            .control-group
              %label.control-label{ :for => "quantitative"}
                Quantitative
                %output 10
              .controls
                %input{ :id => "quantitative", :type => "range", :min => "0", :max => "20", :value => "10", :step => "1" }
            
            .control-group
              %label.control-label{ :for => "biological"}
                Biological 
                %output 10
              .controls
                %input{ :id => "biological", :type => "range", :min => "0", :max => "20", :value => "10", :step => "1" }
            
            .control-group
              %label.control-label{ :for => "pure"} 
                Pure
                %output 10
              .controls
                %input{ :id => "pure", :type => "range", :min => "0", :max => "20", :value => "10", :step => "1" }
              
            .control-group
              %label.control-label{ :for => "indoors"}
                Indoors
                %output 10
              .controls
                %input{ :id => "indoors", :type => "range", :min => "0", :max => "20", :value => "10", :step => "1" }
            
            .control-group
              %label.control-label{ :for => "dunno"}
                Dunno
                %output 10
              .controls
                %input{ :id => "dunno", :type => "range", :min => "0", :max => "20", :value => "10", :step => "1" }

        %h2 Filters
        %span.label
          Filters not included in this demo

  .span6.offset1
    %h2 Results
    %ul.results


- content_for :css do
  :css
    output:before {
      content: "(";
    }

    output:after {
      content: ")";
    }

    input[type="range"]{
      width: 150px;
    }

- content_for :javascript do
  
  :javascript
    var setupFishpond = function(fishpond){ // you must define this function in your demo, if you want hooks to the fishpond

      fishpond.resultsUpdated(function(results){
        //console.log(results);

        $(".results li").remove(); // Clear old results

        for(var i = 0; i < results.length; i++){
          var li = $("<li></li>");
          var thumbnail = $("<div></div>");
          thumbnail.html(results[i].fish.title);
          li.append(thumbnail);
          $(".results").append(li);
        }
      });

      fishpond.ready(function(pond){
        $("#loading").fadeOut(0);
        $("#demo").fadeIn(400);
        $("#demo h1").append(' "' + pond.name + '"');

        // Generate form controls
        var formTags = $("fieldset.tags");
        var formFilters = $("fieldset.filters .control-group");
        var tagControlGroup,
            filterControl;

        $.each(pond.tag_ids, function(name, token){ 
          tagControlGroup = $("" +
            "<div class='control-group'>" +
              "<label class='control-label' for='"+name+"'>" +
                name + "<output>6</output>" +
              "</label>" +
              "<div class='controls'>" +
                "<input id='query_tag_"+token+"' data-slug='"+name+"' name='query[tags]["+token+"]' max='11' min='1' step='1' type='range' value='6'>" +
              "</div>" +
            "</div>");
          formTags.append(tagControlGroup);
        });

        $.each(pond.filters, function(index, token){
          filterControl = $("" +
            "<div class='controls'>" +
              "<label class='checkbox'>" +
                "<input id='query_filter_"+token.id+"' data-slug='"+token.slug+"' name='query[filters]["+token.id+"]' type='checkbox' value='0'>" +
                token.name + 
              "</label>" +
            "</div>");
          formFilters.append(filterControl);
        });

        fishpond.query({}, {});
      });

      fishpond.loading(function(percent){
        $("#loading .progress").removeClass("progress-striped");
        $("#loading .bar").css({width: (percent * 100) + "%"});
      });

      var tag_range,
          tag_id,
          tag_output;
     
      $('input[type=range]').change(function() {
        tag_range = $(this).val();
        tag_id = $(this).attr("id");
        tag_output = $('label[for="'+tag_id+'"] output');

        tag_output.html(tag_range);

        fishpond.query({
          quantitative: $("#quantitative").val(),
          biological: $("#biological").val(),
          pure: $("#pure").val(),
          indoors: $("#indoors").val(),
          dunno: $("#dunno").val()
        },
        {/* no filters, yet */});
      });
    };