body {
  padding-top: 100px; }
  body.debug #results .thumbnails .fish {
    border-top: orange 3px solid; }
    body.debug #results .thumbnails .fish:before {
      content: "Pos: " attr(data-pos-start); }
    body.debug #results .thumbnails .fish.animating {
      border-top: green 3px solid; }
      body.debug #results .thumbnails .fish.animating:before {
        content: "Dest: " attr(data-pos-end); }

.hidden {
  display: none; }
