#query #results.zigzag {
  width: 460px; }
  #query #results.zigzag .thumbnails {
    margin-left: 0; }
    #query #results.zigzag .thumbnails .fish {
      transition: width 0.5s;
      -moz-transition: width 0.5s;
      /* Firefox 4 */
      -webkit-transition: width 0.5s;
      /* Safari and Chrome */
      -o-transition: width 0.5s;
      /* Opera */
      position: relative;
      width: 140px;
      margin: 0; }
      #query #results.zigzag .thumbnails .fish .thumbnail {
        transition: height 0.5s;
        -moz-transition: height 0.5s;
        /* Firefox 4 */
        -webkit-transition: height 0.5s;
        /* Safari and Chrome */
        -o-transition: height 0.5s;
        /* Opera */
        border: none;
        padding: 0;
        border: 0;
        box-shadow: none; }
        #query #results.zigzag .thumbnails .fish .thumbnail .title,
        #query #results.zigzag .thumbnails .fish .thumbnail .btn {
          display: none !important; }
        #query #results.zigzag .thumbnails .fish .thumbnail .details {
          padding: 0 !important;
          margin-bottom: 0 !important; }
      #query #results.zigzag .thumbnails .fish.loading .thumbnail {
        height: 50px;
        background: url(/images/common/loading.gif) no-repeat center center;
        color: #999; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='0'] {
        width: 140px;
        float: left;
        margin-top: 0px;
        padding-bottom: 60px;
        left: 0px;
        clear: right; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='0'] .thumbnail {
          height: 140px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='1'] {
        width: 140px;
        float: left;
        margin-top: 20px;
        padding-bottom: 40px;
        left: 20px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='1'] .thumbnail {
          height: 140px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='2'] {
        width: 140px;
        float: left;
        margin-top: 40px;
        padding-bottom: 20px;
        left: 40px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='2'] .thumbnail {
          height: 140px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='3'] {
        width: 100px;
        float: right;
        margin-top: 0px;
        padding-bottom: 40px;
        right: 0px;
        clear: left; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='3'] .thumbnail {
          height: 100px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='4'] {
        width: 100px;
        float: right;
        margin-top: 10px;
        padding-bottom: 30px;
        right: 20px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='4'] .thumbnail {
          height: 100px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='5'] {
        width: 100px;
        float: right;
        margin-top: 20px;
        padding-bottom: 20px;
        right: 40px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='5'] .thumbnail {
          height: 100px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='6'] {
        width: 100px;
        float: right;
        margin-top: 30px;
        padding-bottom: 10px;
        right: 60px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='6'] .thumbnail {
          height: 100px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='7'] {
        width: 76px;
        float: left;
        margin-top: 0px;
        padding-bottom: 50px;
        left: 0px;
        clear: right; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='7'] .thumbnail {
          height: 76px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='8'] {
        width: 76px;
        float: left;
        margin-top: 10px;
        padding-bottom: 40px;
        left: 20px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='8'] .thumbnail {
          height: 76px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='9'] {
        width: 76px;
        float: left;
        margin-top: 20px;
        padding-bottom: 30px;
        left: 40px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='9'] .thumbnail {
          height: 76px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='10'] {
        width: 76px;
        float: left;
        margin-top: 30px;
        padding-bottom: 20px;
        left: 60px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='10'] .thumbnail {
          height: 76px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='11'] {
        width: 76px;
        float: left;
        margin-top: 40px;
        padding-bottom: 10px;
        left: 80px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='11'] .thumbnail {
          height: 76px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='12'] {
        width: 60px;
        float: right;
        margin-top: 0px;
        padding-bottom: 12px;
        right: 0px;
        clear: left; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='12'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='13'] {
        width: 60px;
        float: right;
        margin-top: 2px;
        padding-bottom: 10px;
        right: 20px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='13'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='14'] {
        width: 60px;
        float: right;
        margin-top: 4px;
        padding-bottom: 8px;
        right: 40px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='14'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='15'] {
        width: 60px;
        float: right;
        margin-top: 6px;
        padding-bottom: 6px;
        right: 60px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='15'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='16'] {
        width: 60px;
        float: right;
        margin-top: 8px;
        padding-bottom: 4px;
        right: 80px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='16'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='17'] {
        width: 60px;
        float: right;
        margin-top: 10px;
        padding-bottom: 2px;
        right: 100px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='17'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='18'] {
        width: 60px;
        float: left;
        left: 0px;
        padding-bottom: 5px;
        margin-top: 5px;
        clear: right; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='18'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='19'] {
        width: 60px;
        float: left;
        left: 20px;
        padding-bottom: 5px;
        margin-top: 5px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='19'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='20'] {
        width: 60px;
        float: left;
        left: 40px;
        padding-bottom: 5px;
        margin-top: 5px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='20'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='21'] {
        width: 60px;
        float: left;
        left: 60px;
        padding-bottom: 5px;
        margin-top: 5px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='21'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='22'] {
        width: 60px;
        float: left;
        left: 80px;
        padding-bottom: 5px;
        margin-top: 5px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='22'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='23'] {
        width: 60px;
        float: left;
        left: 100px;
        padding-bottom: 5px;
        margin-top: 5px;
        clear: right; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='23'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='24'] {
        width: 60px;
        float: left;
        left: 0px;
        padding-bottom: 5px;
        clear: left; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='24'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='25'] {
        width: 60px;
        float: left;
        left: 20px;
        padding-bottom: 5px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='25'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='26'] {
        width: 60px;
        float: left;
        left: 40px;
        padding-bottom: 5px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='26'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='27'] {
        width: 60px;
        float: left;
        left: 60px;
        padding-bottom: 5px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='27'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='28'] {
        width: 60px;
        float: left;
        left: 80px;
        padding-bottom: 5px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='28'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='29'] {
        width: 60px;
        float: left;
        left: 100px;
        padding-bottom: 5px;
        clear: right; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='29'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish[data-pos-start='30'] {
        width: 60px;
        float: left;
        left: 120px;
        padding-bottom: 5px; }
        #query #results.zigzag .thumbnails .fish[data-pos-start='30'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='0'] {
        width: 140px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='0'] .thumbnail {
          height: 140px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='1'] {
        width: 140px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='1'] .thumbnail {
          height: 140px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='2'] {
        width: 140px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='2'] .thumbnail {
          height: 140px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='3'] {
        width: 100px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='3'] .thumbnail {
          height: 100px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='4'] {
        width: 100px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='4'] .thumbnail {
          height: 100px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='5'] {
        width: 100px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='5'] .thumbnail {
          height: 100px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='6'] {
        width: 100px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='6'] .thumbnail {
          height: 100px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='7'] {
        width: 76px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='7'] .thumbnail {
          height: 76px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='8'] {
        width: 76px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='8'] .thumbnail {
          height: 76px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='9'] {
        width: 76px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='9'] .thumbnail {
          height: 76px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='10'] {
        width: 76px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='10'] .thumbnail {
          height: 76px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='11'] {
        width: 76px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='11'] .thumbnail {
          height: 76px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='12'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='12'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='13'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='13'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='14'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='14'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='15'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='15'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='16'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='16'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='17'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='17'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='18'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='18'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='19'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='19'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='20'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='20'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='21'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='21'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='22'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='22'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='23'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='23'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='24'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='24'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='25'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='25'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='26'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='26'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='27'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='27'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='28'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='28'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='29'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='29'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='30'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='30'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='31'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='31'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='32'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='32'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='33'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='33'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='34'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='34'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='35'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='35'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='36'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='36'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='37'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='37'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='38'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='38'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='39'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='39'] .thumbnail {
          height: 60px; }
      #query #results.zigzag .thumbnails .fish.animating[data-pos-end='40'] {
        width: 60px; }
        #query #results.zigzag .thumbnails .fish.animating[data-pos-end='40'] .thumbnail {
          height: 60px; }
