%select#easing.span10
  %option{:value => "easeInQuad"} easeInQuad
  %option{:value => "easeOutQuad"} easeOutQuad
  %option{:value => "easeInOutQuad"} easeInOutQuad
  %option{:value => "easeInCubic"} easeInCubic
  %option{:value => "easeOutCubic"} easeOutCubic
  %option{:value => "easeInOutCubic"} easeInOutCubic
  %option{:value => "easeInQuart"} easeInQuart
  %option{:value => "easeOutQuart"} easeOutQuart
  %option{:value => "easeInOutQuart"} easeInOutQuart
  %option{:value => "easeInQuint"} easeInQuint
  %option{:value => "easeOutQuint"} easeOutQuint
  %option{:value => "easeInOutQuint"} easeInOutQuint
  %option{:value => "easeInSine"} easeInSine
  %option{:value => "easeOutSine"} easeOutSine
  %option{:value => "easeInOutSine", :selected => "selected"} easeInOutSine
  %option{:value => "easeInExpo"} easeInExpo
  %option{:value => "easeOutExpo"} easeOutExpo
  %option{:value => "easeInOutExpo"} easeInOutExpo
  %option{:value => "easeInCirc"} easeInCirc
  %option{:value => "easeOutCirc"} easeOutCirc
  %option{:value => "easeInOutCirc"} easeInOutCirc
  %option{:value => "easeInElastic"} easeInElastic
  %option{:value => "easeOutElastic"} easeOutElastic
  %option{:value => "easeInOutElastic"} easeInOutElastic
  %option{:value => "easeInBack"} easeInBack
  %option{:value => "easeOutBack"} easeOutBack
  %option{:value => "easeInOutBack"} easeInOutBack
  %option{:value => "easeInBounce"} easeInBounce
  %option{:value => "easeOutBounce"} easeOutBounce
  %option{:value => "easeInOutBounce"} easeInOutBounce
  %option{:value => "jswing"} jswing