.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => "/"} Fishpond Examples
      %ul.nav
        %li= link_to "Expore Demos", "/search"
        %li.dropdown
          %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
            Demos
            %b.caret
          %ul.dropdown-menu
            - @demos.each do |demo|
              %li= link_to demo, demo_path(demo)
