.page-header
  %h1 Data Bindings
  %br
  .row
    .span9
      %p
        %strong Powered by: 
        = link_to "Underscore JS", "http://underscorejs.org/", :target => "_blank"

.row
  .span5
    %form#fishpond.form-horizontal.well
      %h2 Tags
      %fieldset.tags
        -# Sliders Dynamically added

      %h2 Filters     
      %fieldset.filters
        .control-group
          .control-label
            Only show:

      %span.label
        Filters currently not hooked up.

  .span6.offset1
    %h2 Results
    #results
      %ul.thumbnails


- content_for :css do
  :css
    .loading .shortlist{
      display: none;
    }
    
    .loaded .shortlist{
      display: block;
    }

    .shortlist.active{
      border: red 1px solid;
    }


    #results ul li .thumbnail{
      min-height: 100px;
      text-align: center;
      position: relative;
      //background: #fff;
    }
      #results ul li .thumbnail.loading{
        background: url(/images/common/loading.gif) no-repeat center center;
        color: #999;
      }

    .modal-body.loading{
      background: #fff url(/images/common/loading.gif) no-repeat center center;
      min-height: 200px;
    }
       #results ul li .thumbnail .details{
        padding-top: 10px;
       }

       #results ul li .thumbnail .shortlist{
        position: absolute;
        top: -5px;
        left: -5px;
      }


- content_for :javascript do
  = javascript_include_tag "https://raw.github.com/d0ugal/locache/master/build/locache.js"
  = javascript_include_tag "http://underscorejs.org/underscore.js"

  %script{:id => "fishTemplate", :type => "text/html"}
    %li{ :id => "{{ print(fish.id) }}'", :class => "{{ status }} span2" }
      .thumbnail
        %strong {{ fish.title }}      
        %br 
        {{ fish.id }}
        %br 
        {{ metadata.url }}

        .details
          {[ if (!_.isEmpty(metadata)) { ]}
          %a.btn.btn-mini.btn-primary{ :href => "" } View Demo
          %a.btn.btn-mini.launch-modal{ :href => "#fishInfo" } More Info
          {[ } ]}

  :javascript
    var setupFishpond = function(fishpond){ // you must define this function in your demo, if you want hooks to the fishpond

      fishpond.loading(function(percent){
        $("#loading .progress").removeClass("progress-striped");
        $("#loading .bar").css({width: (percent * 100) + "%"});

        // Clear LocalStorage of fish data
        locache.flush();
      });

      fishpond.ready(function(pond){
        // Loading transitions
        $("#loading").fadeOut(0);
        $("#demo").fadeIn(400);
        $("#demo h1").append(' "' + pond.name + '"');       

        // Generate form controls
        var formTags = $("fieldset.tags");
        var formFilters = $("fieldset.filters .control-group");
        var tagControlGroup,
            filterControl;

        $.each(pond.tag_ids, function(name, token){ 
          tagControlGroup = $("" +
            "<div class='control-group'>" +
              "<label class='control-label'>" +
                name + " <output>(10)</output>" +
              "</label>" +
              "<div class='controls'>" +
                "<input id='query_tag_"+token+"' data-slug='"+name+"' name='query[tags]["+token+"]' type='hidden' value='6'>" +
                "<div class='slider span2' data-target='query[tags]["+token+"]'></div>" +
              "</div>" +
            "</div>");
          formTags.append(tagControlGroup);
        });

        $.each(pond.filters, function(index, token){
          filterControl = $("" +
            "<div class='controls'>" +
              "<label class='checkbox'>" +
                "<input id='query_filter_"+token.id+"' data-slug='"+token.slug+"' name='query[filters]["+token.id+"]' type='checkbox' value='0'>" +
                token.name + 
              "</label>" +
            "</div>");
          formFilters.append(filterControl);
        });

        // jQuery UI Slider
        $(".slider").slider({
          value: 10,
          min: 0,
          max: 20,
          step: 1,
          slide: function(e, ui){
            var output = $(this).parents('.control-group').find('output');
            var hiddenField = $("input[name='" + $(this).data('target') + "']");
            var value = ui['value'];

            if(value.toString() != hiddenField.val().toString()){
              hiddenField.val(value);
              output.html(output.html().split("(")[0] + "(" + value.toString() + ")");

              var tags = {};
              var filters = {};
              $("form#fishpond input").each(function(){
                //console.error($(this).data('slug'));
                tags[$(this).data('slug')] = $(this).val();
              });
              fishpond.query(tags, filters);
            }
          }
        });

        fishpond.query({}, {});
      });

      fishpond.resultsUpdated(function(results){
        var storage = function (fishID) {
          return {
            setMetadata: function (metadata) {
              return locache.set("metadata-"+fishID, metadata); 
            },
            getMetadata: function () {
              return locache.get("metadata-"+fishID);
            }
          };
        };    

        // Change underscore.js tenplate settings to use moustache syntax
        _.templateSettings = {
          evaluate : /\{\[([\s\S]+?)\]\}/g,
          interpolate : /\{\{(.+?)\}\}/g
        };

        // Clear old results
        $("#results li").remove();

        // Generate Results
        for(var i = 0; i < results.length; i++){
          var fish = storage(results[i].fish.id);
          var fishTemplate = _.template($( "#fishTemplate" ).html());
          var status;
          
          if (fish.getMetadata() === null){
            fish.setMetadata({ url : "http://google.com"+i });
          }

          console.log(fish.getMetadata());

          var result = { 
            fish : results[i].fish, 
            status : status,
            metadata : fish.getMetadata()
          }

          


          // Update Results list
          $('#results ul').append( fishTemplate( result ));
        }
      });

    };