/ TEMPLATE - Fish
%script{:id => "template-fish-result", :type => "text/html"}
	%li{ :data => { :id => "{{ fish.id }}", "pos-start" => "{{ position }}", "pos-end" => "na" }, :class => "{{ status }} fish" }
		.thumbnail   
			.details
				{[ if (!_.isEmpty(metadata)) { ]}
				{{ fishDetailsData }}
				{[ } ]}