- title "Demos"
- body_class "homepage"

.page-header
	%h1 Demos

.row
	.span12
		%ul
			- @demos.each do |demo|
				%li= link_to demo, demo_path(demo)

%br
%br
%br
%br

.page-header
	%h2 Changelog

%h3= link_to "27-07-2012", "https://github.com/involved/fishpond-examples/pull/7", :target => "_blank"
%ul
	%li Search Box - [KS, SM, BD]
	%li Added 'Changelog' and 'Labs'

%h3= link_to "23-07-2012", "https://github.com/involved/fishpond-examples/pull/6", :target => "_blank"
%ul
	%li Filters Hooked up [KS, SM, BD]
	%li An options box: 'disable animations'. More for development purposes but thought it would be a good one to have in the kitchen-sink.
	%li Print shortlist: Current implementation is super basic (and a bit alert buggy). I'm currently working on a refined TBS modal nicer version that formats the data much better. The 'email' shortlist will work that same as the 'print' and will be implemented once I refine the print function.
	%li Javascript abstraction: For the [KS, SM] demos they both run off the same Javascript and templates files.